In [2]:
import pickle
import pandas as pd

In [3]:
file = open('../iihs_death/iihsdeath2017', 'rb')
iihs_death = pickle.load(file)

In [6]:
iihs_death = iihs_death[['make_model','type']]

In [7]:
iihs_death

                          make_model        type
0        Mitsubishi Mirage hatchback  4-Door Car
1                            Kia Rio  4-Door Car
2                     Hyundai Accent  4-Door Car
3                        Ford Fiesta  4-Door Car
4                    Volkswagen Golf  4-Door Car
..                               ...         ...
217           Ford F250 Crew Cab 4WD      Pickup
218  Ram 2500 Crew Cab short bed 4WD      Pickup
219   Ram 3500 Crew Cab long bed 4WD      Pickup
220            Ram 2500 Mega Cab 4WD      Pickup
221   Ram 2500 Crew Cab long bed 4WD      Pickup

[222 rows x 2 columns]